@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 27%;

    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;

    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 100%;

    --secondary: 160 84% 96%;
    --secondary-foreground: 160 84% 25%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 160 84% 96%;
    --accent-foreground: 160 84% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 160 84% 39%;

    --radius: 0.5rem;

    --success: 160 84% 39%;
    --warning: 38 92% 50%;
    --error: 0 84.2% 60.2%;

    --emerald-50: 152 81% 96%;
    --emerald-100: 149 80% 90%;
    --emerald-200: 152 76% 80%;
    --emerald-300: 156 72% 67%;
    --emerald-400: 158 64% 52%;
    --emerald-500: 160 84% 39%;
    --emerald-600: 161 94% 30%;
    --emerald-700: 163 94% 24%;
    --emerald-800: 163 88% 20%;
    --emerald-900: 164 86% 16%;
    --emerald-950: 166 91% 9%;
  }

  [data-theme='dark'] {
    --background: 164 86% 4%;
    --foreground: 152 81% 96%;

    --card: 164 86% 6%;
    --card-foreground: 152 81% 96%;

    --popover: 164 86% 6%;
    --popover-foreground: 152 81% 96%;

    --primary: 160 84% 45%;
    --primary-foreground: 164 86% 4%;

    --secondary: 163 88% 12%;
    --secondary-foreground: 152 81% 96%;

    --muted: 163 88% 12%;
    --muted-foreground: 156 20% 65%;

    --accent: 163 88% 12%;
    --accent-foreground: 152 81% 96%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 163 88% 16%;
    --input: 163 88% 16%;
    --ring: 160 84% 45%;

    --success: 160 84% 45%;
    --warning: 38 92% 60%;
    --error: 0 62.8% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
